*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #0b3141;
}
.section-padding {
    padding: 70 px 0;
}
.carousel-item{
    height: 80vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 200px;
    z-index: 2;
}
.carousel-caption h5{
    font-size:  45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-inner::before{
    content:'';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    /*background: rgba(0, 30, 82, 0.327);*/
    z-index: 1;
}

.navbar-nav a {
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar-dark .navbar-brand{
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

.navbar-ligth .navbar-brand:focus, .navbar-ligth .navbar-brand:hover{
    color: rgb(0, 0, 0);
}

.w-100{
    height: 100vh;
}
.navbar-toggler{
    padding:1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.services .card-body i{
    font-size: 50px;
}
.team .card-body i {
    font-size: 20px;
}

@media(max-width: 767px){
    .navbar-nav{
        text-align: center;
    }
    .carousel-item{
        height: 70vh;
    }
    .w-100 {
        height: 70vh;
    }
    .carousel-caption{
        bottom: 125px;
    }
    .carousel-caption h5 {
        font-size: 17px;
    }
    .carousel-caption a {
        padding: 10px 15px;
        font-size: 15px;
    }
    .carousel-caption p{
        width: 100%;
        line-height: 1.5;
        font-size: 12px;
    }
    .about-text {
        padding-top: 50px;
    }
    .card{
        margin-bottom: 30px;
    }
    .section-padding{
        padding: 50px 0;
    }
}

.small-text {
    font-size: 0.7rem;
    color: #d1d1d1;
}

footer{
    background-color: rgb(34, 34, 34);
    color: white;
    align-self: flex-end;
    width: 100%;
    height: 40px;
    text-align: center;
}




.cover{
    text-align: center;
    color: white;
    padding: 30px;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
}
.cover::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url(https://images.unsplash.com/photo-1670859230965-4e564848c7bc?w=700&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fHVuYW18ZW58MHx8MHx8fDA%3D);
    background-size: cover; /* Hace que la imagen cubra todo el área disponible */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}
